*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

.inner-container{
	margin-top: 50px;
	margin-left: 50px;
}
#category:hover{
	color: #6b6868;
}


.article-image {
	background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 25%;
    display: block;
    float: left;
    margin-bottom: 100px;
    margin-left: 2%;
}


#title{
	position: absolute;
	margin-top: 200px;
	margin-left: 145px;
	width: 200px;
	font-family: "Raleway", bold;
	color: #756767;
}


#title:hover{
	color: black;
}

#mark {
    float: left;
    margin-top: 242px;
    margin-left: -275px;
    cursor: pointer;
}


.error-message {
    background-color: #b1c2da;
    height: 40px;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #a5a5a5;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Raleway", bold;
}