*{
	margin: 0;
	padding: 0;
}


.container{
	margin-top: 50px;
	margin-left: 50px;
}


.category-images{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 180px;
	width: 21%;
	display: block;
	float: left;
	margin-bottom: 100px;
}


#category {
	position: absolute;
	margin-top: 200px;
	margin-left: 105px;
	font-family: "Raleway", bold;
	color: #9a9a99;

}

#category:hover{
	color: #6b6868;
}



.article-image {
	background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 25%;
    display: block;
    float: left;
    margin-bottom: 100px;
    margin-left: 2%;
}


#title{
	position: absolute;
	margin-top: 200px;
	margin-left: 50px;
	width: 200px;
	font-family: "Raleway", bold;
	color: #756767;
}


#title:hover{
	color: black;
}

#mark {
   	float: left;
    margin-top: 250px;
    margin-left: -300px;
    cursor: pointer;
}


#message{
	background-color: beige;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
    color: brown;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
}