.source-containter{
	margin-left: 19%;
	width: 33%;
}

.logo{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 120px;
}

.source{
	width: 21%;
	text-align: center;
	margin: 0 2% 20px;
	float: left;
	margin-top: 50px;
}


